pipeline/Individual_Project.json
{
	"name": "Individual_Project",
	"properties": {
		"activities": [
			{
				"name": "Tsc_2_Parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorage_LS",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Individal_project",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet_individal_project",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Parquet_2_Snowflake_copy1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Tsc_2_Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ls_stgblobspring25",
							"type": "LinkedServiceReference"
						},
						"path": "silver"
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet_individal_project",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "NYPD_Arrest_SCHEMA",
							"table_name": "NYPT_Arrest_Table"
						}
					}
				]
			},
			{
				"name": "Parquet_2_Snowflake",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ls_stgblobspring25",
							"type": "LinkedServiceReference"
						},
						"path": "silver"
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet_individal_project",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "NYPD_ARREST_SCHEMA",
							"table_name": "NYPD_ARREST_TABLE"
						}
					}
				]
			}
		],
		"variables": {
			"myFileName": {
				"type": "String",
				"defaultValue": "New_NYPD_dataset.parquet"
			}
		},
		"annotations": []
	}
}